@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");

:root {
  --pale-blue: hsl(225, 100%, 94%);
  --bright-blue: hsl(245, 75%, 52%);
  --very-pale-blue: hsl(225, 100%, 98%);
  --desaturated-blue: hsl(224, 23%, 55%);
  --dark-blue: hsl(223, 47%, 23%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  font-family: "Red Hat Display", sans-serif;
  background-color: var(--pale-blue);
  background-image: url("images/pattern-background-desktop.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

button {
  background-color: transparent;
  border: none;
  font: inherit;
}

.ordercard {
  width: 450px;
  margin: 100px auto;
  text-align: center;
  background: #fff;
  border-radius: 15px;
  box-shadow: 0px 20px 10px hsl(245, 75%, 52%, 0.05);
}

.ordercard img {
  width: 100%;
  border-radius: 15px 15px 0 0;
}

.ordercard__summary {
  padding: 50px;
}

.ordercard__summary h2 {
  color: var(--dark-blue);
  font-weight: 900;
  font-size: 1.75rem;
  margin-bottom: 20px;
}

.ordercard__summary {
  color: var(--desaturated-blue);
  line-height: 1.5rem;
  font-size: 1.05rem;
}

.plan_type {
  display: flex;
  margin-top: 25px;
  justify-content: space-between;
  align-items: center;
  background-color: var(--very-pale-blue);
  border-radius: 15px;
}

.plan_text {
  display: flex;
  margin: 20px 0 20px 20px;
}

.plan_text h3 {
  color: var(--dark-blue);
  font-size: 1rem;
  font-weight: 900;
}

.plan_text img {
  height: 100%;
  margin-right: 20px;
}

.plan_type button {
  color: var(--bright-blue);
  text-decoration: underline;
  margin-right: 20px;
  font-weight: 700;
  font-size: 0.9rem;
}

.plan_type button:hover {
  color: hsl(245, 50%, 60%);
  text-decoration: none;
}

.ordercard__buttons {
  margin-top: 50px;
}

.ordercard__buttons button {
  width: 100%;
  margin-bottom: 15px;
  padding: 15px;
  font-size: 0.95rem;
  font-weight: 900;
}

.payment {
  background-color: var(--bright-blue);
  color: #fff;
  border-radius: 10px;
  box-shadow: 0px 20px 10px hsl(245, 75%, 52%, 0.1);
}

.payment:hover {
  background-color: hsl(245, 50%, 60%);
}

.cancel {
  color: var(--desaturated-blue);
}

.cancel:hover {
  color: var(--dark-blue);
}

@media (max-width: 500px) {
  :root {
    font-size: 14px;
  }

  .ordercard {
    width: 320px;
  }

  .ordercard__summary {
    padding: 20px;
  }

  .ordercard__summary h2 {
    font-size: 1.4rem;
    margin-top: 10px;
  }

  .ordercard__buttons {
    margin-top: 20px;
  }
}
