@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");

:root {
  --pale-blue: hsl(225, 100%, 94%);
  --bright-blue: hsl(245, 75%, 52%);
  --very-pale-blue: hsl(225, 100%, 98%);
  --desaturated-blue: hsl(224, 23%, 55%);
  --dark-blue: hsl(223, 47%, 23%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  font-family: "Red Hat Display", sans-serif;
  background-color: var(--pale-blue);
  background-image: url("images/pattern-background-desktop.svg");
  background-repeat: no-repeat;
}

button {
  background-color: transparent;
  border: none;
  transition: ease-in-out 0.2s;
  font: inherit;
}

.ordercard {
  width: 27.5rem;
  margin: 6.25rem auto;
  text-align: center;
  background: #fff;
  border-radius: 1rem;
  box-shadow: 0 1rem 1rem 0.3rem var(--pale-blue);
}

.ordercard__hero {
  width: 100%;
  border-radius: 1rem 1rem 0 0;
}

.ordercard__body {
  padding: 2rem 3rem;
}

.ordercard__title {
  color: var(--dark-blue);
  font-weight: 900;
  font-size: 1.75rem;
}

.ordercard__text {
  color: var(--desaturated-blue);
  line-height: 1.5rem;
  font-size: 1rem;
  padding: 1rem;
}

.plan {
  padding: 0.5rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--very-pale-blue);
  border-radius: 1rem;
  color: var(--desaturated-blue);
}

.plan__headercol {
  display: flex;
  margin: 1.25rem 0 1.25rem 1.25rem;
}

.plan__heading {
  color: var(--dark-blue);
  font-size: 1rem;
  font-weight: 900;
}

.plan__icon {
  height: 100%;
  margin-right: 1.25rem;
}

.plan__button {
  color: var(--bright-blue);
  text-decoration: underline;
  margin-right: 1.25rem;
  font-weight: 700;
  font-size: 0.9rem;
}

.plan__button:hover {
  opacity: 75%;
  text-decoration: none;
}

.ordercard__largebutton {
  width: 100%;
  margin-top: 1rem;
  padding: 1rem;
  font-size: 0.95rem;
  font-weight: 900;
}

.ordercard__options {
  margin-top: 1rem;
}

.ordercard__paymentbutton {
  background-color: var(--bright-blue);
  color: #fff;
  border-radius: 0.625rem;
  box-shadow: 0 1rem 1rem 0.3rem var(--pale-blue);
}

.ordercard__paymentbutton:hover {
  opacity: 75%;
}

.ordercard__cancelbutton {
  color: var(--desaturated-blue);
}

.ordercard__cancelbutton:hover {
  color: var(--dark-blue);
}

@media (max-width: 500px) {
  .ordercard {
    width: 20rem;
  }

  .ordercard__body {
    padding: 1rem 1.25rem;
  }

  .ordercard__text {
    font-size: 0.9rem;
    line-height: 1.25rem;
  }

  .ordercard__title {
    font-size: 1.4rem;
    margin-top: 0.3rem;
  }

  .plan {
    padding: 0.25rem 0;
    font-size: 0.8rem;
  }

  .plan__heading {
    font-size: 0.8rem;
    line-height: 1.5rem;
  }

  .ordercard__options {
    margin-top: 0.5rem;
  }
}
